.div_head{
  width: 996px;height: 115px;
  margin:0 auto 10px;
  background:#fff;
  font-family: "Î¢ÈíÑÅºÚ";
}
.a_head_logo{
  float: left;
  width: 151px;height: 115px;
  margin-top: 33px;
}
.img_head_logo{
  float: left;
  width: 151px;height: 61px;
}
.div_head_right{
  width: 845px;height: 75px;
  margin-top:25px;
  float: right;
  color:#6bc4df;
}
.div_head_d{
  float: right;
  width: 845px;height: 25px;
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 13px;
}
.a_reg_head{
  float: right;
  color:#6bc4df;
  padding-top:8px;
}
.a_login_head{
  margin: 0 20px;
}
.div_trolley{
  width: 43.87px;height: 25px;
  float: right;
}
.a_trolley{
  float: right;
  width: 50px;height: 25px;
  background-image: url(../images/index/cart_icon.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size:20px 20px;
  font-size: 13px;
  color: #6bc4df;
}
.span_trolley{
  float: right;
  padding-top: 8.2px
}
.div_address_head{
  width: auto;
  float: right;
  margin-right:20px;
}
.a_reg_head{
  width: auto;
  float: right;
}
.div_a_coord_head{
  width: 9px;height: 14px;
  padding-right:8px;
  margin-top: 10px;
}
.div_nav{
  width:664px;height: 50px;
  padding-right: 24px;
  float: left;
  text-align: center;
  font-size: 14px;
}
.ul_nav{
  width:664px;height: 50px;
  float: left;
}
.li_nav{
  float: left;
  width:164px;height: 50px;
  padding-right: 1px;
}
.li_nav_2{
  border-right: 1px solid #6bc4df;
}
a{
  color:#6bc4df;
}

/*.a_nav:link{*/
  /*color: #6bc4df;*/
/*}*/
/*.a_nav:visited{*/
  /*color: #6bc4df;*/
/*}*/
/*.a_nav:hover {*/
  /*color: #6bc4df;*/
/*}*/
.span_nav{
  display: block;
  text-align: center;
  width: 164px;height: 25px;
  line-height: 35px;
  color:#6bc4df;
}
.ul_cake{
  display: none;
  width:164px;height:140px;
  background: #000;

}
#li_cake:hover .ul_cake{
  display:block;

}
.div_phone{
  width: 120px;height: 17px;
  margin:2px 32px 0 5px;
  font-size: 13px;
  float: right;
  text-align: right;
}
.img_phone{
  height:15px;
  display: inline-block;
  vertical-align: top;
}
.span_phone{
  display: inline-block;
}
.div_search{
  width:105px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  position: relative;
}
.input_search{
  display: inline-block;
  color: #999;
  width: 87px;height: 18px;
  margin-left: 14px;
  background: #fff;
  right:2px;
  top:0px;
  outline: 1px solid #6bc4df;
  padding-left: 18px;
}
.img_search{
  position: absolute;
  top:1px;
  left: 16px;
  width: 18px;height: 18px;
}
