html,body{font-size:13px; }
  #hr1,#hr2{width:45%;border-top:1px dashed #d5d5d5}
  #phone,#code,#note_code,#upwd,#reupwd{width:208px;height:38px;padding:0px 0px 0px 10px;border-width:1px}
a{
  color:#989898;
  margin:0 auto;
}
a:hover{color:dodgerblue;text-decoration:underline;}

.integral{
  color:#87D0E3;
  width:906px;
  margin:0 auto;
  text-align:right;
  font-size:14px;
  display:block;
}
#heart{
  background-image: url(../images/icon/heart.jpg);
  width:23px;height:26px;
  display:inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.reg>div{
  width:996px;
  margin:0 auto 20px;
  padding:45px 0 55px;
}
.table{
  /*width:310px;*/
  
  background-color:#ededed ;
  color:#626262;
  font-size:14px;
  margin:0 auto;
  border:none;
}
.table>tr{
  height:40px;
  width:310px;
  line-height: 40px;
  margin-bottom:10px;
}
td{
  border-top: 5px solid #fff;
}
.td_title{
  border-right: 5px solid #fff;
  height:40px;
  width:70px;
  padding:0 3px 0 10px;
  text-align: center;
}
.td_input{
  width:208px;
  padding-left: 10px;
}
table{
  border-spacing:0px;
}
input{
  background-color:#ededed ;
  width:208px;
  height:38px;
}
.checkbox{
  background-color: #fff;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;
}
.checkbox>input{
  height:13px;
  width:13px;
}
.checkbox>a:hover{
  color:#87D0E3;
}
.submit{
  background-color: #fff;
  text-align: center;
}
.submit>a{
  display: block;
  height:40px;
  line-height: 40px;
  background-color:#87D0E3;
  font-size:16px;
  font-weight: bold;
  color:#fff;
  text-decoration:none;
}
.input_code{
  height:38px;
  line-height: 38px;
  width:98px;
}
.code{
  display:inline-block;
  background-color: #87D0E3;
  padding:0 6px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  color:#626262;
  font-size: 13px;
}
.code:hover{
  color:#626262;
  text-decoration:none;
}
/*æç¤ºè¯?*/
.prompt{
  background-color: #ffffff;
  font-size:13px;
  width£º180px;
  /*display: none;*/
}
.prompt>span{
  padding: 6px 20px 10px 40px;
  background-image: url(../images/icon/bj_3.png);
  background-repeat: no-repeat;
  color:red;
}
.promptcenter{
  background-color: #ffffff;
  width:180px;
}
